/* .main {
    border: 2px solid white;
    flex-basis: 50%;
    height: 350px;
    max-height: 360px;
    flex-grow: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 350px;
    overflow: hidden; 
   position: relative;
 }
 
 .mega-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
 }
 
 .mega-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
 }
 
 .redirect-wrapper {
    background-color: hsl(294, 98%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
 }
 
 .redirect-wrapper .button {
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: hsl(180, 100%, 50%);
    color: black;
    font-weight: bold;
    cursor: pointer;
 }
 
 .redirect-wrapper .button:hover {
    background-color: hsl(180, 100%, 40%);
 }
 
 .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }
 
 .summary {
    font-weight: 400;
 }
 
 .overlay {
    position: absolute;
    background-color: aqua;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    opacity: 0.5;
 }
 
 @media only screen and (max-width: 768px) {
    .main {
       flex-basis: 100%;
    }
 }
  */
 
  .mega-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
 }
 
 .mega-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
 }
 
  .main{
    height: 350px;
    width: 360px;
    border: 2px solid white;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 360px;
  }
  .text-box-wrapper{
position: relative;

  }
  .overlay {
    position: absolute;
    background-color: rgb(240, 240, 240);
 
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 0px 20px;
    opacity: 1.0;
 }
 .overlay::before,
 .overlay::after{
    content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);

  bottom: -40px;
  right: 0px;
 }
 .overlay::after{
    border-radius: 0px 20px 0px 0px;
    background-color:blue;
 }
 .text-box{
    position: relative;
    padding: 5px;
 }
 .redirect-wrapper{
    background-color:  blue;
    height: 100%;
    align-items: center;
    justify-content: center;
  
    width: 100%;
   display: flex;
 }

 .redirect-wrapper .button {
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: hsl(180, 100%, 50%);
    color: black;
    font-weight: bold;
    cursor: pointer;
 }
 
 .redirect-wrapper .button:hover {
    background-color: hsl(180, 100%, 40%);
 }
 
 .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }
 